{% extends "home/base.html" %}
{% block title %}Signup{% endblock title %}
{% block body %}
<div class="container">
    <div class="row d-flex justify-content-center mt-5">
        <div class="card border-light mb-3" style="max-width: 20rem;">
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    {% include "home/alert.html" %}
                    <div class="form-group">
                        <label class="form-label mt-4">Hey Geek, Create your account.</label>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingFirstName" placeholder="Ramcharan" name="first_name" required>
                            <label for="floatingFirstName">First Name</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingLastName" placeholder="Yadav" name="last_name" required>
                            <label for="floatingLastName">Last Name</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingUsername" placeholder="ramcharanx64" name="username" required>
                            <label for="floatingUsername">Username</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="floatingEmail" placeholder="name@example.com" name="email" required>
                            <label for="floatingEmail">Email address</label>
                        </div>
                        <div class="form-floating">
                            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" autocomplete="off" name="password" required>
                            <label for="floatingPassword">Password</label>
                        </div>
                        <button class="btn btn-primary mt-3 float-end">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<p class="text-center">Already have an account? <strong><a href="#">Login</a></strong></p>
{% endblock body %}
